@import "./variables.scss";

.form__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.form__data {
  border: 2px solid $primary-color;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin: 7px 0;
  &[placeholder] {
    font-family: "Blatant", sans-serif;
  }
}
