@import "./variables.scss";

@font-face {
  font-family: Blatant;
  src: url("./font/Blatant.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Blatant", sans-serif;
  height: 100vh;
}

@mixin main-container {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  border-radius: 50px;
  margin: auto;
}

.container {
  @include main-container();
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../img/home_bg.png") no-repeat center center;
  background-size: contain;
}

.form__wrapper {
  background-color: #ffffffb7;
  width: 30%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  padding: 15px 0;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  height: 50px;
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  padding: 5px 0;
  margin: 0 20px;
  color: #403179;
  border-bottom: 3px solid #fff;
  &:active,
  &:hover {
    border-bottom: 3px solid #403179;
    transition: 0.5s;
  }
}

.page-header_text {
  font-size: 1em;
  margin: 10px 0;
  color: $text-color;
  text-transform: uppercase;
}

.add-task__container {
  @include main-container();
  max-width: 1640px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: url("../img/add_task.png") no-repeat center center;
  background-size: contain;
}

.tasks__container {
  @include main-container();
  max-width: 1640px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: url("../img/form_bg.svg") no-repeat center center;
  background-size: contain;
}

@mixin container-setup {
  background-color: #fff;
  border-radius: 50px;
  height: 500px;
}

.tasks__progress-container {
  @include container-setup;
  width: 30%;
  padding: 0 20px;
}

.tasks__cal-container {
  @include container-setup;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-bar {
  margin-left: 100px;
}

.tasks__list {
  list-style-type: none;
  li {
    color: $text-color;
    margin: 5px 20px;
    margin: 10px 10px;
    border-bottom: 1px solid $text-color;
  }
}

@mixin button {
  background-color: $secondary-color;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 7px 20px;
  border-radius: 60px;
  font-family: "Blatant", sans-serif;
  &:hover {
    background-color: #ff5c61;
    transition: 0.5s;
  }
}

.main-btn {
  @include button;
  margin: 20px 10px;
}

.add-btn {
  @include button;
  margin-left: 5px;
}
.btn__logout {
  @include button;
  margin-bottom: 7px;

  font-size: 0.8em;
  background-color: $text-color;
}

.btn__delete {
  @include button;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 50%;
  color: #e4ac14;
  font-weight: bold;
  border: 2px solid #e4ac14;
  background-color: #fff;
  margin-left: 10px;
  margin-bottom: 5px;
  &:hover {
    color: #fff;
    border: 2px solid #ff5c61;
    background-color: #ff5c61;
    transition: 0.2s;
  }
}

.circle-percentage {
  font-size: 7px;
  fill: $text-color;
}

// .fullScreen {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
//   z-index: 99;
//   background: rgba(255, 255, 255, 0.7);
//   display: none;
// }

// .btn__close {
//   display: block;
//   margin: auto;
// }
// .cat__img {
//   display: block;
//   margin: 15px auto 5px;
//   width: auto;
//   height: calc(100% - 50px);
// }
